:root {
  --color-white: #fff;
  --color-black: #000;
  --color-primary: #111518;

  --color-light-green: #60e3a1;
  --color-gray: #4a4d5e;
  --color-dark: #1d1e25;

  --color-light-gray: #f7f7f7;

  --color-yellow: #f9d10d;

  --color-comment-dark: #333333;
  --color-comment-gray: #888888;

  --font-family: 'Sofia Pro', sans-serif;
  --font-weight-regular: 400;
  --font-weight-medium: 500;
  --font-weight-semi-bold: 600;
  --font-weight-bold: 700;

  --form-border: 1px solid var(--color-light-green);
}