.footer {
  width: 100%;
  max-width: 136.6rem;
  margin: 0 auto;
  flex-shrink: 0;
  background-color: var(--color-dark);
  color: var(--color-white);
  padding: 2.3rem 0;

  &__row {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    position: relative;

    &--line::before {
      content: "";
      position: absolute;
      left: 0;
      top: -25.6px;
      width: 100%;
      max-width: 126.6rem;
      height: 1px;
      opacity: 0.3;
      background-color: var(--color-gray);
    }
  }

  &__copyright {
    font-size: 1.3rem;
    color: var(--color-gray);
  }
}